.l-container {
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

.l-section{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    @include from(l){
        margin-bottom: 4rem;
    }

    &--diagonal{
        padding-top: 4em;
        @include from(l){
            padding-top: 3em;
        }

        position: relative;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background:#c2ae81 ;
            z-index: var(--z-back);
            transform: skewY(-1.5deg) scaleY(1.1);
        }
    }
}

.l-section-description{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

//anchos personalizados
@for $i from 1 through 20 {
    .s-#{$i*5}{
        width: #{$i*5%};
    }
}

@include from (l){
    @for $i from 1 through 20 {
        .l-#{$i*5}{
            width: #{$i*5%};
        }
    }
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}

.center-content{
    text-align: center;
}