#eventos{
    padding-top: 4em;
    font-size: 30px;
    color: $text-color;
    text-align: center;
}

.cohete{
    position: fixed;
    width: 0%;
    
    @include from (l){
      position: fixed;
      margin-top:-7em ;
      position: absolute;
      width: 6em;
      transform: translateX(0%,0%);
      transition: transform 0.3s ease-out;
    }
}


.event{
    color: $text-color;
    display: flex;

    &-linear{
        @include from (l){
            width: 100%;
            height: 100%;
            border-right: 4px solid rgb(141, 50, 50);
            padding: 3em;
        }
    }

    img{
        border-radius: 50px;
    }

    &-extra{
        padding: 3em;
    }

    @include from (l){
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 4em;
        padding-left: 10em;
        padding-right: 10em;
        transition: width 50s;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1em;
    }
    
    
}

  

