
.img-contacto{
    z-index: -10;
    width: 100%;
    height: 140%;
    position: absolute;

    @include from (l){
        z-index: -10;
        width: 100%;
        height: 70%;
        position: absolute;
    }
}
.sub{
    border-bottom: 2px solid #8a4e43;
    padding-bottom: 3px;
}


.contactoForm{
    display: inline-block;
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    font-size: 30px;
    color: $text-color;
    text-align: center;
    border: 0;
    p{
        color: $text-color;
        text-align: left;
    }
    img{
        width: 40%;
    }

    @include from (l){
        display: inline-block;
        width: 100%;
        padding-left: 10em;
        font-size: 30px;
        color: $text-color;
        text-align: center;
        border: 0;
        p{
            text-align: left;
        }
        img{
            width: 30%;
        }
    }
}

.contactoFace{
    display: inline-block;
    width: 100%;
    padding: 1em;
    font-size: 30px;
    color: $text-color;
    text-align: center;
    border: 0;
    p{
        text-align: left;
    }

    iframe{
        border-radius: 10%;
        padding: 1em;
        height: 100%;
        width: 100%;
    }
}


.l-form-all{
    display:block;

    @include from (l){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em;
}

}
.l-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center; 

    &-info-usuario, &-info-email, &-info-celular, &-info-grado, &-info-mensaje{
        height: 10px;
        z-index: var(--z-normal);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        bottom: -20px;
        img{
            width: 15px;
            height: 15px;
        }
        p{
            font-size: 15px;
            color: #ffffff;
        }
    }

    input{
        text-align: center;
        padding: 0.5em;
        
        color: #ffffff;
        font-family: sans-serif;
        cursor: pointer;
        border: 2px;
        outline: none;
        background-color: #c66446;
        border-radius: 10px;
        border-bottom: 3px solid #aea5a5;
        border-right: 3px solid #aea5a5;
    }
    select{
        width: 250px;
        padding: 0.5em;
        color: #ffffff;
        font-family: sans-serif;
        margin-bottom: 1em;
        cursor: pointer;
        border: 0;
        outline: none;
        background-color: #c66446;
        border-radius: 10px;
        border-bottom: 3px solid #aea5a5;
        border-right: 3px solid #aea5a5;
        transition: all 1s ease;
    }

    textarea{
        padding: 0.5em;
        color: #ffffff;
        font-family: sans-serif;
        cursor: pointer;
        border: 0;
        outline: none;
        background-color: #c66446;
        border-radius: 10px;
        border-bottom: 3px solid #aea5a5;
        border-right: 3px solid #aea5a5;
    }

    button{
        cursor: pointer;
        color: white;
        padding: 1em;
        border-radius: 5px;
        background-color: rgb(78, 194, 78);
    }
}
