.main-menu{
    background-color: #94704c;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    
    @include from(l){
        display: flex;
        background-color: #94704c;
    }
}
.main-menu-item{
    padding: 1rem;
    margin-bottom: 2px;
    
    :hover{
        color: #ff9100;
        text-decoration: underline;
        text-decoration-thickness: 0.2em;
    }
}
.main-menu-link{
    color: #f8f3ca;
    margin-bottom: 2px;
    @include from(l){
        color: #f8f3ca;
    }
}


.main-nav{
    position:fixed;
    height: calc(100vh - #{$header-hight});
    width: auto;
    top: $header-hight;
    right: -100vh;
    transition: right .5s;
    background-color: #94704c;
    z-index: var(--z-fixed);

    @include from(l){
        position: static;
        background: transparent;
        padding-top: 0;
        height: auto;
        width: auto;
        border: 0;
        margin: 0;
    }

    &.show{
        right: 0;
    }
}

.main-menu-toggle{
    width: 3rem;
    @include from(l){
        visibility: hidden;
    }

    button{
        background-color: #94704c;
    }
}